.header {
  width: 100%;
  height: 60px;
  background-color :#FF363C;
  overflow: hidden
}

.header-logo {
  position: absolute; 
  top: 17px;
  left: 20px;
  width: 91px;
  height: 27px;
  background: url('../img/myungdang_mainlogo@2x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.header-share {
  position: absolute; 
  right: 20px;
  top: 20px;
  width: 18px;
  height: 20px;
  background: url('../img/share-2@2x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}